* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  margin: 0 auto;
}

/* HEADER */

header {
  padding: 10px 50px;
  z-index: 1;

  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: white;
}

.header-title {
  display: flex;
  align-items: center;

  text-decoration: none;
  color: black;
}

h1 {
  margin: 0;
  padding-left: 25px;

  text-transform: uppercase;
}

.header-title > svg {
  max-width: 60px;
  height: auto;
}

.left-eye, .right-eye {
  fill: gold;
}

.header-subtitle {
  width: 30%;
}

p {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 22px;
}


.header-nav {
  width: 100%;
  z-index: 1;
  padding: 8px 50px;

  position: sticky;
  top: 84px;

  background-color: black;
  border-bottom: 1px solid white;
}

.header-nav-list {
  margin: 0;
  padding: 0;

  top: -60px;
  display: flex;
  justify-content: space-around;

  list-style: none;
}

.header-nav-list-item > a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.header-nav-list-item > a:hover {
  text-decoration: underline;
  color: gold;
}

/* MYTHOLOGY & SYMBOLISM */

.section-myth {
  height: auto;
  padding: 75px 50px;

  position: relative;

  background-color: black;
}

.section-myth > img {
  max-width: 1000px;
  height: auto;
  position: absolute;
  right: 0;
  bottom: 0;
}

.content-myth {
  width: 50vw;
  height: auto ;
  padding: 30px;

  position: relative;

  color: black;
  background-color: white;
}

h2 {
  margin: 0;

  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.2px;
  border-bottom: 2px solid black;
}

.content-myth > p {
  margin-top: 15px;
}

strong {
  text-transform: uppercase;
}

/* LUCKY THINGS */

.section-lucky {
  padding: 75px 50px;

  display: flex;
  justify-content: space-between;

  background-color: gold;
}

.content-lucky {
  padding: 30px;


  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-lucky {
  padding: 0;

  list-style: none;
}

.list-lucky > li {
  height: 100px;
  width: 100px;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;
  color: gold;
  text-transform: uppercase;
  background-color: black;
  font-weight: 600;
}

/* ABOUT */

.section-about {
  padding: 75px 50px;

  position: relative;
  overflow: hidden;
}

.tiger-water {
  max-width: 380px;
  height: auto;
  margin: 0 50px 20px 0;

  float: left;
}

.tiger-nature {
  max-width: 300px;
  height: auto;
  margin: 25px 0 0 25px;

  float: right;
}

.content-about > p {
  margin-top: 15px;
}

/* FOOTER */

footer {
  padding: 20px 50px 20px 50px;

  background-color: black;
  color: white;
}

footer > p {
  font-family: Arial, Helvetica, sans-serif;
}

footer > p > a {
  color: white;
}

@media (max-width:600px) {
  header {
    padding: 5px 20px 10px 20px;

    flex-direction: column;
    align-items: flex-start;
  }

  .header-subtitle {
    width: 100%;
    padding-top: 10px;
  }

  .header-nav {
    padding: 5px 20px;
  }

  .header-nav-list {
    flex-direction: column;
  }

  .header-nav-list-item {
    padding-top: 2px;
  }

  .section-myth {
    padding: 10px 20px 50px 20px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .section-myth > img {
    max-width: 450px;

    position: relative;
  }

  .content-myth {
    width: 100%;
  }

  .section-lucky {
    flex-direction: column;
  }

  .section-about {
    padding: 50px 20px;
  }

  .tiger-nature {
    margin: 10px 0 10px 50px;
  }
}